<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agileboot.orm.mapper.SysUserXMapper">

<!--  <resultMap type="SysUser" id="SysUserResult">-->
<!--    <id     property="userId"       column="user_id"      />-->
<!--    <result property="deptId"       column="dept_id"      />-->
<!--    <result property="userName"     column="user_name"    />-->
<!--    <result property="nickName"     column="nick_name"    />-->
<!--    <result property="email"        column="email"        />-->
<!--    <result property="phonenumber"  column="phonenumber"  />-->
<!--    <result property="sex"          column="sex"          />-->
<!--    <result property="avatar"       column="avatar"       />-->
<!--    <result property="password"     column="password"     />-->
<!--    <result property="status"       column="status"       />-->
<!--    <result property="delFlag"      column="del_flag"     />-->
<!--    <result property="loginIp"      column="login_ip"     />-->
<!--    <result property="loginDate"    column="login_date"   />-->
<!--    <result property="createBy"     column="create_by"    />-->
<!--    <result property="createTime"   column="create_time"  />-->
<!--    <result property="updateBy"     column="update_by"    />-->
<!--    <result property="updateTime"   column="update_time"  />-->
<!--    <result property="remark"       column="remark"       />-->
<!--    <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />-->
<!--    <collection  property="roles"   javaType="java.util.List"           resultMap="RoleResult" />-->
<!--  </resultMap>-->

<!--  <resultMap id="deptResult" type="SysDept">-->
<!--    <id     property="deptId"    column="dept_id"     />-->
<!--    <result property="parentId"  column="parent_id"   />-->
<!--    <result property="deptName"  column="dept_name"   />-->
<!--    <result property="ancestors" column="ancestors"   />-->
<!--    <result property="orderNum"  column="order_num"   />-->
<!--    <result property="leader"    column="leader"      />-->
<!--    <result property="status"    column="dept_status" />-->
<!--  </resultMap>-->

<!--  <resultMap id="RoleResult" type="SysRole">-->
<!--    <id     property="roleId"       column="role_id"        />-->
<!--    <result property="roleName"     column="role_name"      />-->
<!--    <result property="roleKey"      column="role_key"       />-->
<!--    <result property="roleSort"     column="role_sort"      />-->
<!--    <result property="dataScope"     column="data_scope"    />-->
<!--    <result property="status"       column="role_status"    />-->
<!--  </resultMap>-->


<!--  <sql id="selectUserVo">-->
<!--    select u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.avatar, u.phonenumber, u.password, u.sex, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,-->
<!--           d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status,-->
<!--           r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status-->
<!--    from sys_user u-->
<!--           left join sys_dept d on u.dept_id = d.dept_id-->
<!--           left join sys_user_role ur on u.user_id = ur.user_id-->
<!--           left join sys_role r on r.role_id = ur.role_id-->
<!--  </sql>-->

  <sql id="selectRoleVo">
    select distinct r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.menu_check_strictly, r.dept_check_strictly,
                    r.status, r.deleted, r.create_time, r.remark
    from sys_role r
           left join sys_user_role ur on ur.role_id = r.role_id
           left join sys_user u on u.user_id = ur.user_id
           left join sys_dept d on u.dept_id = d.dept_id
  </sql>

 <!-- <select id="selectRolesByUserId" parameterType="String" resultType="com.agileboot.orm.entity.SysRoleXEntity">
    <include refid="selectRoleVo"/>
    WHERE r.deleted = 0 and u.user_name = #{userName}
  </select>
-->

  <!--<select id="selectPostsByUserId" parameterType="String" resultType="com.agileboot.orm.entity.SysPostXEntity">
    select p.*
    from sys_post p
           left join sys_user_post up on up.post_id = p.post_id
           left join sys_user u on u.user_id = up.user_id
    where u.user_name = #{userName} and deleted = 0
  </select>-->


  <!--<select id="selectRolePermissionByUserId" parameterType="Long" resultType="com.agileboot.orm.entity.SysRoleXEntity">
    <include refid="selectRoleVo"/>
    WHERE r.deleted = 0 and ur.user_id = #{userId}
  </select>-->

 <!-- <select id="selectMenuPermsByUserId" parameterType="Long" resultType="String">
    select distinct m.perms
    from sys_menu m
           left join sys_role_menu rm on m.menu_id = rm.menu_id
           left join sys_user_role ur on rm.role_id = ur.role_id
           left join sys_role r on r.role_id = ur.role_id
    where m.status = '0' and r.status = '0' and ur.user_id = #{userId}
  </select>-->

  <select id="selectAllocatedList" resultType="SysUserXEntity">
    select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phone_number, u.status, u.create_time
    from sys_user u
    left join sys_dept d on u.dept_id = d.dept_id
    left join sys_user_role ur on u.user_id = ur.user_id
    left join sys_role r on r.role_id = ur.role_id

    <if test="queryConditions.emptyOfWhere == false">
      ${queryConditions.customSqlSegment}
    </if>
  </select>

  <select id="selectUnallocatedList" resultType="SysUserXEntity">
    select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phonenumber, u.status, u.create_time
    from sys_user u
    left join sys_dept d on u.dept_id = d.dept_id
    left join sys_user_role ur on u.user_id = ur.user_id
    left join sys_role r on r.role_id = ur.role_id

    <if test="queryConditions.emptyOfWhere == false">
      ${queryConditions.customSqlSegment}
    </if>
  </select>


  <!--安全的写法
  <if test="phonenumber != null and phonenumber != ''">
    <bind name="phonenumberQuery" value="'%' + phonenumber + '%'"/>
    AND u.phone_number like  #{phonenumberQuery}
  </if>-->


  <!--<select id="selectUserList"  resultType="SearchUserResult">
    select u.*, d.dept_id, d.dept_name, d.leader_name
    from sys_user u
    left join sys_dept d on u.dept_id = d.dept_id
    <if test="ew.emptyOfWhere == false">
      ${ew.customSqlSegment}
    </if>
  </select>-->



</mapper>
